{{ partial "global-header.html" . }}

<!-- Portfolio Start -->
<section id="feature" style="background-color: rgb(255, 255, 255);">
  

    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="text-uppercase" >
                <h2 class="text-uppercase">Currently we work with</h2>
              </div> 
              
              <br> <br><br>
              <div class="row" >
                  <div id="partners" class="project-item">
                      {{ range .Site.Data.work.clients }}
                      <div class="col-md-3 workbox">             
                       <a href="{{ .url }}" target="_blank" >
                          <h4 style="text-decoration: none; color: dimgray;">{{ .name }}</h4>
                          <img src="{{ $.Site.BaseURL }}{{ .image }}" alt="Features">
                       </a>
                      </div>
                      {{ end }}
                  </div>
              </div>
          </div>
      </div>
    </div>
    
    </section>


 
